body {
	/*background-color: gray;*/
}

.container {
/*	background-color: blue;*/
	height: 20%;
}

.row {
	/*background-color: yellow;*/
	float: left;
	margin-top: 1%;
}
#call-us {
	/*background-color: pink;*/
	padding-top: 7%;

}
#logo {
	padding-left: 700%;
	margin-top: 25%;	
}
#links {
	float:right;
	margin-left: 30%;
	width:20%;
}

#images {
	 width: 100%;
	 height: 320%;
	 margin-top: -6.5%;
/*	 background-color: yellow;*/
	 overflow: hidden;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}